# Supabase project URL
NEXT_PUBLIC_SUPABASE_URL=https://pswuyxkdrefopmhmfmcj.supabase.co

# Supabase anon key (frontend safe)
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBzd3V5eGtkcmVmb3BtaG1mbWNqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5NDMxMjYsImV4cCI6MjA3NDUxOTEyNn0.NKY-MiQ0Na03SHlCOtSnHXr0bZARXR6zeQTu2_TaHro


# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
